<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header navbar-left" id="logo">
      <a class="navbar-brand" href="#">
        <img src="assets/d26811-211-417922-0.png" alt="" style="height: 50px;width: 50px">
      </a>
      <a href="#"><p class="navbar-text">Furusato</p></a>
    </div>
    <div class="navbar-left" id="searchForm">
      <div class="input-group mb-3" style="display: flex; flex-direction: row">
        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn" type="button" id="button-addon2">Search</button>
        </div>
      </div>
    </div>
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="bs-example">
    <ul class="nav categories" style="width: 100%">
      <li style="width: 20%">
        <div class="nav-items-categories">
          <img class="logos" src="assets/d26811-211-417922-0.png" alt="">
          <a href="#" >Rankings</a>
        </div>
      </li>
      <li style="width: 20%">
        <div class="nav-items-categories">
          <img class="logos" src="assets/d26811-211-417922-0.png" alt="">
          <a href="#" >Product</a>
        </div>
      </li>
      <li style="width: 20%">
        <div class="nav-items-categories">
          <img class="logos" src="assets/d26811-211-417922-0.png" alt="">
          <a href="#" >Magazine</a>
        </div>
      </li>
      <li style="width: 20%">
        <div class="nav-items-categories">
          <img class="logos" src="assets/d26811-211-417922-0.png" alt="">
          <a href="#" >Category</a>
        </div>
      </li>
      <li style="width: 20%;">
        <div class="nav-items-categories">
          <img class="logos" src="assets/d26811-211-417922-0.png" alt="">
          <a href="#" >Area</a>
        </div>
      </li>
    </ul>
  </div>
</nav>