<div class="row">
  <div class="col-md-12">
    <div id="sidebar">
      <div id="sidebar-heading">
        <p>CATEGORY</p>
      </div>
      <div id="sidebar-items">
        <div class="sidebar-item">
          <p>dasdasda</p> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </div>
        <div class="sidebar-item">
          <p>dasdasda</p> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </div>
        <div class="sidebar-item">
        <p>dasdasda</p> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </div>
        <div class="sidebar-item">
          <p>dasdasda</p> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </div>
        <div class="sidebar-item">
          <p>dasdasda</p> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </div>
        <div class="sidebar-item">
          <p>dasdasda</p> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </div>
        <div class="sidebar-item">
          <p>dasdasda</p> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </div>
        <div class="sidebar-item">
          <p>dasdasda</p> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </div>
        <div class="sidebar-item">
          <p>dasdasda</p> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div id="sidebar">
      <div id="sidebar-heading">
        <p>AREA</p>
      </div>
      <div id="sidebar-items">
        <div class="sidebar-item">
          <a href="#">dsadasd</a> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </div>
        <div class="sidebar-item">
          <a href="#">dsadasd</a> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </div>
        <div class="sidebar-item">
          <a href="#">dsadasd</a> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </div>
        <div class="sidebar-item">
          <a href="#">dsadasd</a> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </div>
      </div>
    </div>
  </div>
</div>